<main class="app-body">
    {% for article in data %}
        <article class="article-card">
        <h2 class="article-head">
            <a href="{{ article.url }}">{{ article.name }}</a>
        </h2>
        <p class="article-date">{{ article.date }}</p>
        {% for tag in article.tags   %}
        <a href="{{ tag.url }}" >
        <span class="tag-code">{{ tag.name }}</span>
        </a>
        {% endfor %}
        <div class="article-summary">
            {% if post.excerpt  %}
                {%- post.excerpt %}
            {% else %}
                {{ truncate(strip_html(post.content), { length: 150, omission: ' ...' }) }}
            {% endif %}
        </div>
        <a class="more" href="{{ article.url }}"><%- theme.excerpt_link %></a>
        </article>
    {% endfor %}
    
    {% include 'partial/pager.html' %}
</main>
      
      